.main-link {
    color: rgb(171, 87, 255);
    text-decoration: none;
}

#some_id::after{
    content:'123';
    color: rebeccapurple;
}

 p.text:not(:empty)::after{
    content: "Some";
 }

.main-link:hover{
    color: aqua;
    text-decoration: overline;
    text-decoration-color: black;
    cursor: pointer;
}

.main-link:active{
    text-decoration: line-through;
}
.main-link:visited{
    text-decoration: line-through;
    color: blue;
}


input { color: blue;}
input:focus {
    color: red;
}