#first{
    /* background-color: hotpink;
    background-image: url("https://img2.goodfon.ru/original/6000x4000/3/56/abstract-colors-unreal-clouds.jpg");
    background-image: no-repeat;
    background-image: center; */
    
    background: hotpink url("https://img2.goodfon.ru/original/6000x4000/3/56/abstract-colors-unreal-clouds.jpg") no-repeat center;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
#second{
    height: 2000px;
}