@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.main-text{
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;

    text-transform: lowercase;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 50px;
    text-decoration: line-through;
    cursor: copy;
}